<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.litewaveinc.litewave" >
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.LevelActivity"
            android:label="@string/title_activity_choose_level" >
        </activity>
        <activity
            android:name=".activities.SeatActivity"
            android:label="@string/title_activity_choose_seat">
        </activity>
        <activity
            android:name=".activities.ReadyActivity"
            android:label="@string/title_activity_game_time">
        </activity>
        <activity
            android:name=".activities.ShowActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_winners_circle"
            android:theme="@style/FullscreenTheme" >
        </activity>
        <activity
            android:name=".activities.ResultsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_thanks_for_participating"
            android:theme="@style/FullscreenTheme" >
        </activity>
    </application>

</manifest>
