<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.litewaveinc.litewave">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <application android:icon="@mipmap/ic_launcher">
        <activity
            android:name=".activities.MainActivity"
            android:screenOrientation="portrait"
            android:label="@string/ltw_app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.LevelActivity"
            android:screenOrientation="portrait"
            android:label="Choose level"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".activities.SeatActivity"
            android:screenOrientation="portrait"
            android:label="@string/ltw_title_activity_choose_seat"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".activities.ReadyActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".activities.ShowActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".activities.ResultsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
        </activity>
    </application>

</manifest>
